.p-person {
    padding: 0;
    border: 0 none;
}

.node-header, .node-content {
    padding: .5em .7rem;
}

.node-header {
    background-color: #434969;
    color: #ffffff;
}

.node-content {
    text-align: center;
    border: 1px solid #495ebb;
}

.node-content img {
    border-radius: 50%;
}

.department-cfo {
    background-color: #7247bc;
    color: #ffffff;
}

.department-coo {
    background-color: #434969;
    color: #ffffff;
}

.department {
    background-color: #434969;
    color: #ffffff;
}

.department-cto {
    background-color: #e9286f;
    color: #ffffff;
}

:host /deep/ .p-organizationchart .p-organizationchart-node-content:hover {
            background: #DEEDF9 !important;
            cursor: pointer;
        }
:host /deep/ .p-organizationchart .p-organizationchart-node-content {
    border: 1px solid #e0e5e6 !important;
    color: #495057 !important;
    padding: 0.6rem !important;
    border-radius: 5px !important;
    background-color: #ffffff !important;
    margin-top: -11px;
    margin-bottom: -11px !important;
}

:host /deep/ .p-organizationchart .p-organizationchart-line-down {
    height: 30px !important;
}

:host /deep/ .node-content {
    text-align: center;
    border: 0 solid #b0c2d6;
}

:host /deep/ .node-content {
    text-align: center;
    border: none !important;
    border-radius: 2px !important;
}

:host /deep/ .p-menubar {
    align-items: flex-start !important;
    padding: 0 !important;
    background: none !important;
    color: #495057;
    border: none !important;
    border-radius: 0 !important;
}

:host /deep/ .row>* {
     padding-right: 0 !important;
     padding-left: 0 !important;
}

:host /deep/ .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon {
    color: white;
    margin-left: 0.5rem;
}

:host /deep/ .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
    padding: 0 !important;
     border-radius: 0;
}

:host /depp/ .p-menubar .p-menuitem-link {
     padding: 0 !important;
}

:host /deep/ .p-menubar .p-submenu-list {
    z-index: 3;
}

 body {
    font-size: x-small !important;;
}